.center {
    transform: translateX(-50%);
    left: 50%;
}

::selection {
  background-color: #054f31;
  color: white;
}
@keyframes fadeIn {
    from {
      transform:translateY(-15%) ;
    }
    to {
      transform:translateY(70px) ;
    }
  }
  @keyframes fade{
    from {
      opacity: 0 ;
    }
    to {
  opacity: 1;
    }
  }
  @keyframes fadeOut {
    from {
      transform:translateY(70px) ;
    }
    to {
      transform:translateY(-15%);
     opacity: 0;
    }
  }
  .popup {
    transform:translateY(100%) ;
    animation: fadeIn 0.5s forwards;
  }
  
  /* Apply the fade-out animation */
  .popup-hidden {
  
    animation: fadeOut 0.5s forwards;
  }

  @keyframes spinIn {
    from {
      transform:rotate(360deg) ;
    }
    to {
      transform:rotate(0) ;
    }
  }
  
  @keyframes spinOut {
    from {
      transform:rotate(0) ;
    }
    to {
      transform:rotate(360deg);
      background-color: rgba(255, 255, 255, 0);
    }
  }
  .fade {
    animation: fade 1s forwards;
  }
  .spin {
    transform:rotate(0) ;
    animation: spinIn 0.5s forwards;
  }
  
  /* Apply the spin-out animation */
  .spin-hidden {
  
    animation: spinOut 0.5s forwards;
  }



  .bubble {
    --c: #054f31;
    color:white;
    font-size: 16px;
    border-radius: 20px;

    text-align: center;

    position: relative;
    overflow: hidden;
    z-index: 1;
    transition: 0.5s;
    background-color: #9a9a9a66;
}

  .bubble span {
    position: absolute;
    width: 25%;
    height: 100%;
    background-color: var(--c);
    transform: translateY(150%);
    border-radius: 50%;
    left: calc((var(--n) - 1) * 25%);
    transition: 0.5s;
    transition-delay: calc((var(--n) - 1) * 0.1s);
    z-index: -1;
}

  .bubble:hover {
    color: #d9ffe0;
}

  .bubble:hover span {
    transform: translateY(0) scale(2);
}

  .bubble span:nth-child(1) {
    --n: 1;
}

  .bubble span:nth-child(2) {
    --n: 2;
}

  .bubble span:nth-child(3) {
    --n: 3;
}

  .bubble span:nth-child(4) {
    --n: 4;
}


@keyframes spread-up {
  0% {
    transform:translateY(0)rotate(180deg) ;
width: 28px;
  }
  25% {
    transform:translateY(80px)rotate(180deg) ;
    
  }
  50% {
    transform:translateY(80px)rotate(180deg) ;
    
  }
  75% {
    transform:translateY(80px)rotate(180deg) ;
    
  }
  100% {
    transform:translateY(80px)rotate(180deg) ;
    width: 0px;
  }
}

.spread-up {
/* padding: 20px ;
background-color: aqua; */
  animation: spread-up 1s forwards  ;
  /* width: 28px; */

}

@keyframes spread-right {
  from {
    transform: translate(-0px,- 0px); 
  }
  to {
    transform:translate(-50px, -50px)  rotate(220deg);
  }
}

.spread-right {
  transform:rotate(0) ;
  animation: spread-right 0.5s forwards;
}

@keyframes spread-left {
  from {
    transform:translateX(0px) ;
  }
  to {
    transform:translateX(80px) rotate(90deg) ;
  }
}
@keyframes bounce {
  from {
    transform:scale(0.9) ;
  }
  to {
    transform:scale(1)  ;
  }
}



.spread-left {
  transform:rotate(0) ;
  animation: spread-left 0.5s forwards;
}

*{
  font-size: 16px;
}
.bubble-classic  {
  --c: #d9ffe0;
  color:#d9ffe0;
  border-radius: 20px;


  position: relative;
  overflow: hidden;
  z-index: 1;
  transition: 0.5s;
  background-color: #054f31;
}
.bounce  {
  animation: bounce 2s infinite alternate;
}
.bubble-classic  span {
  position: absolute;
  width: 25%;
  height: 100%;
  background-color: var(--c);
  transform: translateY(150%);
  border-radius: 50%;
  left: calc((var(--n) - 1) * 25%);
  transition: 0.5s;
  transition-delay: calc((var(--n) - 1) * 0.1s);
  z-index: -1;
}

.bubble-classic:hover {
  color: #054f31;
}

.bubble-classic:hover span {
  transform: translateY(0) scale(2);
}

.bubble-classic  span:nth-child(1) {
  --n: 1;
}

.bubble-classic  span:nth-child(2) {
  --n: 2;
}

.bubble-classic  span:nth-child(3) {
  --n: 3;
}

.bubble-classic  span:nth-child(4) {
  --n: 4;
}

.bubble-white  {
  --c: #054f31;
  color:#121212;
  font-size: 16px;
  border-radius: 20px;
padding: 30px 60px;
  text-align: center;

  position: relative;
  overflow: hidden;
  z-index: 1;
  transition: 0.5s;
  background-color: #ffffff;
}

.bubble-white  span {
  position: absolute;
  width: 25%;
  height: 100%;
  background-color: var(--c);
  transform: translateY(150%);
  border-radius: 50%;
  left: calc((var(--n) - 1) * 25%);
  transition: 0.5s;
  transition-delay: calc((var(--n) - 1) * 0.1s);
  z-index: -1;
}

.bubble-white:hover {
  color: #d9ffe0;
}

.bubble-white:hover span {
  transform: translateY(0) scale(2);
}

.bubble-white  span:nth-child(1) {
  --n: 1;
}

.bubble-white  span:nth-child(2) {
  --n: 2;
}

.bubble-white  span:nth-child(3) {
  --n: 3;
}

.bubble-white  span:nth-child(4) {
  --n: 4;
}
/* @keyframes fade {
  from {
    opacity: 0.1;
  }
  to {
opacity: 1;
  }
} */

.fade-in {
  opacity: 1;

}

.fade-out {
  opacity: 0.1;
}

.partner video{
  display: none;
}

.partner:hover .img {
display: none;
}
.partner:hover video {
  display: block;
  }

  .partner:hover h1 {
font-size: 50px;
transition: all 0.3s ease-out;
    }
    .partner:hover h2 {
height: auto;
      transition: all 0.3s ease-out;
          }

    .partner:not(:hover) h1 {
      transition: all 0.3s ease-out;
          }
          .partner:not(:hover) h2 {
            transition: all 0.3s ease-out;
                }

                /* For max-height */
@media screen and (max-width: 1023px) {
  .partner:hover h1 {
    font-size: 35px !important;
    transition: all 0.3s ease-out;
        }
}

@media screen and (max-width: 768px) {
  .partner:hover h1 {
    font-size: 20px !important;
    transition: all 0.3s ease-out;
        }
        .bubble-white  {
          padding: 0px 20px;
          font-size: 14px;
        }
}

.guide video{
  display: none;
}

.guide:hover img {
display: none;
}
.guide:hover video {
  display: block;
  }

  @keyframes fadIn {
    from {
      transform:translateY(100%) ;
    }
    to {
      transform:translateY(0px) ;
    }
  }
  
  @keyframes fadOut {
    from {
      transform:translateY(0%) ;
    }
    to {
      transform:translateY(100%);
    }
  }

  .pop {
    transform:translateY(100%) ;
    animation: fadIn 0.5s forwards;
  }
  
  /* Apply the fade-out animation */
  .pop-hidden {
  
    animation: fadOut 0.5s forwards;
  }

  .navigation-wrapper {
    position: relative;
    max-width: 100%;
  }
  
  .dots {
    display: flex;
    padding: 10px 0;
    justify-content: center;
  }
  
  .dot {
    border: none;
    width: 10px;
    height: 10px;
    background: #444A47;
    border-radius: 50%;
    margin: 0 5px;
    padding: 5px;
    cursor: pointer;
  }
  
  .dot:focus {
    outline: none;
  }
  
  .dot.active {
    background: #ffffff;
  }

  .arrow {
    width: 52px;
    height: 52px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    fill: #fff;
    cursor: pointer;
    padding: 20px;
    background-color: #00000080;
    border-radius: 100%;
  }  .arrow--left {
    left: 5px;
  }
  
  .arrow--right {
    left: auto;
    right: 5px;
  }
  
  .arrow--disabled {
    fill: rgba(255, 255, 255, 0.5);
  }
  
  body::-webkit-scrollbar {
    height: 0px; /* Height of horizontal scrollbar */
    width: 0px;
  }
   /* ::-webkit-scrollbar {
    height: 0px; 
    width: 0px;
  } */

  body {
    font-family: var(--font-neue), sans-serif;
  }

  .mono{
      font-family: var(--font-mono), monospace;
    
    
  }
  
  body::-webkit-scrollbar-thumb {
    background: #88888800; /* Color of the scrollbar thumb */
    border-radius: 6px; /* Rounded corners */
  }
  
  body::-webkit-scrollbar-thumb:hover {
    background: #55555500; /* Color of the scrollbar thumb on hover */
  }
  
  body::-webkit-scrollbar-track {
    background: #cccccc00; /* Color of the scrollbar track */
  }

  ul {
    list-style-type: disc;
    list-style-position: inside;
  }






.thumbnail .keen-slider__slide.active {
  border: 2px solid  #054f31;
}

.dots {
  display: flex;
  padding: 10px 0;
  justify-content: center;
}

.dot {
  border: none;
  width: 10px;
  height: 10px;
  background: #c5c5c5;
  border-radius: 50%;
  margin: 0 5px;
  padding: 5px;
  cursor: pointer;
}
.wave {
  transform: translate(204.5px, 204.5px);
  transform-origin: left;
}
@keyframes wave {
  0% {
    transform: translate(204.5px, 204.5px) rotate(5deg);
  }
  25% {
     transform: translate(204.5px, 204.5px) rotate(-5deg);
  }
  55% {
     transform: translate(204.5px, 204.5px) rotate(5deg);
  }
  75% {
     transform: translate(204.5px, 204.5px) rotate(-5deg);
  }
  100% {
     transform: translate(204.5px, 204.5px) rotate(0deg);
  }
}
@keyframes moveLeft {
  0% {
    transform: translate(0px,0px);
  }
  25% {
         transform: translate(-30px,-30px);
  }
  55% {
     transform: translate(-30px,-30px);
  }
  75% {
         transform: translate(-30px,-30px);
  }
  100% {
    transform: translate(0px,0px);
  }
}
.svg:hover .wave {
  animation: wave  0.8s forwards;
}

.svg:hover .moveLeft {
  animation: moveLeft  1s forwards;
  transition: all 0.3s ease;
}
.svg:not(:hover) .moveLeft {
  transition: all 0.3s ease;
}
/* .moveLeft:hover {
transform: translate(40px);
} */
.dot:focus {
  outline: none;
}

.dot.active {
  background: #000;
}

